<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Email Notify Result</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div class="container">
    <form>
        <h5 th:text="'Текст \'' + ${emailNotification.text} + '\', с темой \'' + ${emailNotification.subject} + '\', успешно отправлен по адресу \'' + ${emailNotification.email} + '\'.'"></h5>
        <a style="padding-top: 5rem" th:href="@{/}">Отправить еще одно сообщение</a>
    </form>
</div>

<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
        type="text/javascript"></script>
</body>
</html>