<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Email Notify Form</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Sms Notify Form</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div class="container">
    <h1>Форма для отправки email-письма</h1>
    <form action="#" method="post" th:action="@{/notify}" th:object="${emailNotification}">
        <div class="form-group col-xs-4 col-md-4">
            <label class="control-label" for="address">адрес</label>
            <input class="form-control" id="address" placeholder="email-адрес" th:field="*{email}" type="email">
        </div>
        <div class="form-group col-xs-4 col-md-4">
            <label class="control-label" for="subject">тема</label>
            <input class="form-control" id="subject" placeholder="тема письма" th:field="*{subject}" type="text">
        </div>
        <div class="form-group col-xs-4 col-md-4">
            <label class="control-label" for="text">текст</label>
            <input class="form-control" id="text" placeholder="текст письма" th:field="*{text}" type="text">
        </div>
        <div class="form-group col-xs-4 col-md-4">
            <p><input type="submit" value="Отправить"/> <input type="reset" value="Очистить"/></p>
        </div>
    </form>
</div>

<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
        type="text/javascript"></script>
</body>

</html>